body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(240, 231, 231);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #680606;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #680606;
    font-size: 30px;
    text-transform: uppercase;
}


p {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #f0e6e6;
    text-align: center;
    margin-top: 5%;
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #680606;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.glass-container {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    border: 100px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    margin: 0 auto;
}