h1 {
    font-family: Tahoma, sans-serif;
    color: #124466;
    margin: 0 auto;
    text-align: center;
    margin-block-start: 280px;
  }

p, a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    text-decoration: none;
}

li {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    color: #082e47;
    text-transform: uppercase;
    margin-top: -60px;
    font-size: 40px;
}

h3 {
    color:#082e47;
    text-transform: uppercase;
    margin-bottom: 10px;
}

strong {
    color: rgb(13, 112, 96);
}

footer {
    color: rgb(132, 152, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
}
