* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  body::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(https://i.makeagif.com/media/1-13-2023/_3qu79.gif);
      background-size: cover; 
      background-position: center; 
      opacity: 0.3; 
        z-index: -1;
  }
  
  .texto-fadein, .button, footer {
    animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .container {
    text-align: center;
  }
  .button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #58a7be;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button:hover {
    background-color: #396f92;
  }
  .curriculo {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    border: 100px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    margin: 0 auto;
  }
  
